{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <img src="{% static 'img/pizza.jpg' %}" alt="Pizzas Ignite" class="img-fluid"><br><br>
  <h3>Pizzas Ignite</h3><br>
  <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).</p>
  <p>Only when the button is clicked, the navigation bar will be displayed.</p>
  <p>Tip: You can also remove the .navbar-expand-md class to ALWAYS hide navbar links and display the toggler button.</p>
</div><br>
{% endblock %}